@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body {
  font-family: 'Noto Sans TC', sans-serif;
}
/* 清除bootstrap focus */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.date-wrap:hover .add-button {
  opacity: 1;
}
.add-button {
  opacity: 0;
  transition: opacity .3s ease;
}
.date-header-day {
  font-size: 14px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ccc;
}
.date-header-day.current-month {
  color: #000;
  background-color: #ccc;
}
.date-header-day.today {
  background-color: #dc3545;
  color: #fff;
}
.date-body {
  overflow-y: scroll;
  height: 100px;
}
.date-body::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 572px) {
  .add-button {
    display: none;
  }
  .date-body {
    display: none;
  }
}